
body, p, a, span, strong {
  font-size: 16px;
}

.limit {
  width: auto;
  max-width: 680px;
}

.limit-small {
  width: auto;
  max-width: 590px;
}

.limit-mini {
  width: auto;
  max-width: 472px;
}

.header-gradient-green {
  background-image: linear-gradient(120deg, #0BBB28 0%, #37E655 50%, #0BBB28 100%);
  background-color: transparent;
}

.header-gradient-blue {
  background-image: linear-gradient(90deg, #00337F 0%, #144D9F 50%, #00337F 100%);
  background-color: transparent;
}

.bg-gradient-green {
  background-image: linear-gradient(120deg, #37E655 0%, #0BBB28 100%);
  background-color: transparent;
}

.bg-gradient-blue {
  background-image: linear-gradient(120deg, #144D9F 0%, #00337F 100%);
  background-color: transparent;
}


/* Text */
.text-app-title {
  font-size: 42px;
}
.text-app-subtitle {
  font-size: 30px;
}

.text-promo-title {
  font-size: 32px;
}
.text-promo-subtitle {
  font-size: 20px;
}

.text-blue-taxcon {
  color: #144D9F;
}
.text-blue-taxcon:hover {
  color: #144D9F;
}
.text-green-phonewidget {
  color: #0BBB28;
}
.text-green-phonewidget:hover {
  color: #0BBB28;
}

