/* Theme editing
$theme-colors: (
  "primary": #34C759,
  "danger": #FF3B30
);*/

.limit {
  width: auto;
  max-width: 680px;
  /* padding: 0 15px; */
};


.navbar {
    margin: 32px;
    width: 100%;
    height: 50pt;
};